*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif; ;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}


header {
    padding: 16px 0;
    background-color: #4b73f7;
    color: #fff;
}

header li {
    font-weight: 800;
    font-size: large;
    cursor: pointer;
    font-style: normal;
}

.menu li {
    float: left;
    padding: 16px;
    border-top: 4px solid transparent;
    list-style: none;
}

.store-front {
    max-width: 500px;
    margin-right: 32px;
}

section .container {
    align-items: flex-start;
}

.container-flex {
    display: flex;
    list-style: none;
    column-gap: 2%;
    align-items: center;
    justify-content: space-between;
}

.container-menu {
    display: flex;
    list-style: none;
    column-gap: 2%;
    align-items: center;
    justify-content: space-between;
}

section {
    padding: 16px 0;
}

section h2 {
    margin-bottom: 16px;
    color: #4b73f7;
}

section p {
    text-align: justify;
}

button {
    display: block;
    width: 100%;
    padding: 8px 0;
    border: none;
    background-color: #4b73f7;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
    border-radius: 6px;
}

.lista li h3, p {
    margin: 16px 0;
}

.lista li img{
    max-width: 200px;
}

#linha {
    width: 100%;
    border-bottom: 4px solid #4b73f7;
    margin-bottom: 50px;
    }

    @media screen and (max-width: 768px) {
    .container {
        max-width: 90%;
    }

    .store-front {
        max-width: 335px;
        margin-bottom: 32px;
    }

    .container-flex {
        display: grid;
        grid-template-columns: calc(100%)
    }

    .lista li img{
        max-width: 100%;
    }

    .lista li {
        list-style: none;
        max-width: 100%;
        margin-bottom: 24px;
    
    }

    button {
        display: block;
        width: 100%;
        padding: 12px 0;
        border: none;
        background-color: #4b73f7;
        color: #fff;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
        border-radius: 6px;
    }

    .container-menu {
        display: flex;
        grid-template-columns: repeat(2, 50%);
        list-style: none;
        align-items: center;
        justify-content: space-between;
    }

    .sobre  {
        display: flex;
        justify-content: center;
    }

}


    @media screen and (min-width: 768px) and (max-width: 1023px) {
    .container {
        max-width: 90%;
        display: grid;
        grid-template-columns: calc(100%)
    }

    .store-front {
        max-width: 735px;
        margin-bottom: 40px;
        margin-top: 40px;
    }

    .lista {
        display: grid;
        grid-template-columns: repeat(2, 50%);
    }

    .lista li {
        list-style: none;
        max-width: 100%;
        margin-bottom: 24px;
    }

    .lista li img{
        max-width: 100%;
    }

    section p {
        text-align: justify;
        font-size: 25px;
    }

    section h2 {
        margin-bottom: 21px;
        color: #4b73f7;
    }

button {
        display: block;
        width: 100%;
        padding: 16px 0;
        border: none;
        background-color: #4b73f7;
        color: #fff;
        font-size: 25px;
        font-weight: bold;
        cursor: pointer;
        border-radius: 6px;
    }

    .lista li h3, p {
        margin: 21px 0;
    }

    .container-menu {
        display: flex;
        list-style: none;
        align-items: center;
        justify-content: space-between;
    }

    .sobre  {
        display: flex;
        justify-content: center;
    }
}